!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      Embr - #{params[:action].humanize}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag params[:controller], 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "Embr", :name => "apple-mobile-web-app-title"}/
    %link{rel: "apple-touch-icon", href:"/splashscreens/apple-touch-icon.png"}

    %link{:href => "/splashscreens/ipad_splash.png", :media => "(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image"}/
    %link{:href => "/splashscreens/ipadpro1_splash.png", :media => "(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image"}
  %body
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert
    = yield
